# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so

# Virtualenv
.venv/
venv/
ENV/
env/
.venv.bak/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
log.txt

# Sistema
.DS_Store
Thumbs.db

# Arquivos sensíveis
.env
*.secret

venv/
node_modules/
.vercel
